
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10%;
}

p{
  margin-top: 5%;
}

.container{
  padding: 2%;
  margin-bottom: 2%;
  margin-top: 12%;
  width: 150%;
  border-radius: 10px;
}

img{
  margin-top: 10%;
  margin-right: 4%;
  max-width: 96%;
  border: 1px solid rgb(187, 183, 183);
  box-shadow: 8px 8px 8px rgb(95, 95, 95);
  border-radius: 10px;
}

p{
  font-style: italic;
}

.fa{
  font-size: 2rem;
}

.numb{
  font-weight: bold;
  font-size: 1.5rem;
}
