.featured{
width: 80%;
}

img{
  margin-top: 0;
  object-fit: fill;
  max-height: 400px;
  width: 100%;
  border-left: 20px solid white;
  border-right: 20px solid white;
  padding: 2px;

}

.ff{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
 .bdr
{
  border: 2px solid blue;
  padding: 20px;
  border-radius: 50px;
}
